@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@font-face {
    font-family: 'Gameria';
    src: url('font/GAMERIA.ttf') format('truetype');
}

@font-face {
    font-family: 'Srisakdi';
    src: url('font/Srisakdi-Bold.ttf') format('truetype');
}

#fade-in1 {
    opacity: 0; /* Initially set the opacity to 0 to make it invisible */
    animation: fadeInAnimation 2s ease forwards; /* Apply the animation with a duration of 2 seconds */
}

@keyframes fadeInAnimation {
    from {
        opacity: 0; /* Start with opacity 0 */
    }
    to {
        opacity: 1; /* End with opacity 1 */
    }
}

html, body {
    width: 100vw;
    height: 100vh;
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    
}

#inputs {
    width: 1200px;
    height: 600px;
    border: solid 10px #4285F4;
    border-radius: 30px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #tutor {
    width: 1200px;
    height: 600px;
    border: solid 10px #4285F4;
    border-radius: 30px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
  }

  #tutor img {
    max-width: 132%;
    max-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

  .name-input{
    width: 623px;
    height: 78px;
    border-radius: 15px;
    background-color: white;
    border:solid 5px #26ABDE;
    color: rgba(38, 171, 222, 0.4);
    font-size: 30px;
    font-weight: bold;
    font-family: 'Gameria', sans-serif;
    letter-spacing:3px;
  }
  .name-input::placeholder {
    color: rgba(38, 171, 222, 0.4);
    font-weight: bold; /* Change the placeholder color to red */
  }

  .name-input:hover {
      background-color: #26ABDE;
      border: solid 5px #4285F4;
      color: white;
      font-weight: bold;
  }

  .name-input:hover::placeholder {
    color:white;
    font-weight: bold;
  }

  #timer{
    font-size: 60px;
    color: white;
    display: inline-block;
    font-weight: bolder;
    z-index: 1;
    font-family: 'Gameria', sans-serif;
    letter-spacing: 3px;
  }



.img-tutorial:hover{
    cursor: pointer;
}

.sukses{
    font-size: 40px;
    margin:0;
    font-family: 'Srisakdi', sans-serif;
    color: #105068;
    letter-spacing: 2px;
}

.lanjuts{
    background-color: white;
}

.player-data{
    text-align: center;
        height: auto;
        width: auto;
        margin: auto;
}

#mulai {
    margin-bottom: 200px;
}

#mulai:hover {
    opacity: 0.8;
    cursor: pointer;
}

#view {
    margin-top: 30px;
    height: 100px;
    width: 100px;
}

#mazeContainer {
    top: 15px;
    opacity: 0;
    display: inline-block;
    margin: auto;
    border-radius: 10px;
}
#mazeContainer #mazeCanvas {
    margin-top: 0px;
    display: block;
    border: solid 2px #1900fa;
    height: 500px;
    width: 500px;
    background-color: white;
}
input, select {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.30);
    height: 45px;
    width: 150px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    display: inline-block;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    appearance: none;
}
input:hover, select:hover {
	background-color: rgba(0, 0, 0, 0.70);
}
input:active, select:active {
	background-color: black;
}
input:focus, select:focus {
	outline: none;
}
#Message-Container {
    visibility: hidden;
    width: 1200px;
        height: 600px;
        border: solid 10px #4285F4;
        border-radius: 30px;
        background-color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    z-index: 5;
    font-family: 'Gameria', sans-serif;
    letter-spacing: 4px;
}

.timeclear{
    font-size: 5rem;
    font-weight: bold;
    margin: 0;
    background: linear-gradient(to bottom, #4285F4, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.stepclear {
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
    color:#105068;
}

#Message-Container #message {
    width: 70%;
    height: 400px;
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#page {
	text-align: center;
	height: auto;
	width: auto;
	margin: auto;
}
#page #menu {
    margin: auto;
    padding: 10px;
    height: 65px;
    box-sizing: border-box;
}
h1{
    font-size: 5rem;
    margin-bottom: 0;
    background: linear-gradient(to bottom, #4285F4, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#page #menu h1 {
    margin: 0;
    font-weight: 600;
    font-size: 5rem;
    
}
#page #view {
    position: absolute;
    top: 65px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: auto;
}
.border {
    border: 10px black solid;
    border-radius: 10px;
}


.controls {
    margin-top:400px;
    margin-left:60px;
    height: 100%;
    display: grid;
}

.buttons {
    width: 210px;
    height: 140px;
    align-self: center;
    justify-self: center;
    display: grid;
    grid-template-rows: 50px 50px;
    grid-template-columns: 50px 50px 50px;
    z-index: 1;
}

.btn {
    width:60px;
    height:60px;
    background: #fff;
    border: 2px #0099FF solid;
    border-bottom: 2px #0099FF solid;
    align-self: center;
    justify-self: center;
    cursor: pointer;
    border-radius: 8px;
    display: grid;
    
    /*box-shadow: 4px 4px 10px rgba(255, 255, 255, 0.2);*/
}

.chevron {
    height: 20px;
    width: 20px;
    align-self: center;
    justify-self: center;
    color: #1900fa;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
}

#bu {
    grid-column-start: 2;
    margin-top: 10px;
}

#bd {
    grid-column-start: 2;
    grid-row-start: 2;
    margin-top: 35px;
}

#bl {
    grid-column-start: 0;
    grid-row-start: 2;
    margin-top: 35px;
    margin-right: 27px;
}

#br {
    grid-column-start: 3;
    grid-row-start: 2;
    margin-top: 35px;
    margin-left: 27px;
}
 
button {
    display: inline-block;
    border: none;
    padding: none;
    margin: 0;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: none;
    -webkit-tap-highlight-color: transparent;
}

button:hover,
button:focus {
    -webkit-appearance: none;
}

button:focus {
    outline: none;
}

button:active {
    transform: scale(1);
    -webkit-appearance: none;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 400px) {
	input, select {
	    width: 120px;
	}
}
@media only screen and (max-width: 319px) {

    .title,
    .subtitle {
        width: 90%;
        height: 30px;
    }

    .start {
        width: 50%;
    }

    .start:hover {
        opacity: 0.8;
        cursor: pointer;
    }

    .akun {
        width: 90%;
        height: 30px;
    }

    .lanjuts {
        width: 50%;
        height: 70px;
    }

    #nama {
        width: 21%;
        height: 20px;
        font-size: 15px;
    }
    .img-tutorial img{
        height: 800px;
    }
}

/* Styles for screens between 321px and 480px (small smartphones) */
@media only screen and (min-width: 320px) and (max-width: 480px) {
    .title,
    .subtitle {
        width: 90%;
        height: 30px;
    }

    .start {
        width: 50%;
    }

    .start:hover {
        opacity: 0.8;
        cursor: pointer;
    }

    .akun {
        width: 90%;
        height: 30px;
    }

    .lanjuts {
        width: 50%;
        height: 70px;
    }

    #nama {
        width: 25%;
        height: 20px;
        font-size: 17px;
    }
    .img-tutorial img{
        height: 800px;
    }
}

/* Styles for screens between 481px and 768px (medium smartphones and small tablets) */
@media only screen and (min-width: 481px) and (max-width: 768px) {
    .title,
        .subtitle {
            width: 90%;
            height: 30px;
        }
    
        .start {
            width: 50%;
        }
    
        .start:hover {
            opacity: 0.8;
            cursor: pointer;
        }
    
        .akun {
            width: 90%;
            height: 30px;
        }
    
        .lanjuts {
            width: 50%;
            height: 70px;
        }
    
        #nama {
            width: 30%;
            height: 20px;
            font-size: 20px;
        }
        
}

@media only screen and (max-width: 319px) {
    /* Your styles for very small smartphones go here */
      .selamat {
            margin-top: 100px;
            font-size: 40px;
        }
  
        .sukses {
          font-size:20px;
        }
  
        #Message-Container #message {
          width:35%;
        }
  
        #tutor {
          width:90%;
        }
        #tutor img{
            height: 700px;
        }
    }
  
    /* Styles for screens between 321px and 480px (small smartphones) */
    @media only screen and (min-width: 320px) and (max-width: 480px) {
      /* Your styles for small smartphones go here */
      .selamat {
            margin-top: 100px;
            font-size: 40px;
        }
  
        .sukses {
          font-size:20px;
        }
  
        #Message-Container #message {
          width:35%;
        }
  
        #tutor {
          width:90%;
        }
        #tutor img{
            height: 500px;
        }
    }
  
    /* Styles for screens between 481px and 768px (medium smartphones and small tablets) */
    @media only screen and (min-width: 481px) and (max-width: 768px) {
        .selamat {
            margin-top: 100px;
            font-size: 40px;
        }
  
        .sukses {
          font-size:20px;
        }
  
        #Message-Container #message {
          width:35%;
        }
  
        #tutor {
          width:90%;
        }
        #tutor img{
            height: 700px;
        }
    }

 
 
